table, th, td {
    border: 1px solid black;
}

h2 {
    text-align: center;
    color: teal;
    font-weight: bold;
    font-style: italic;
    
}
table {
    width: 50%;
    margin-left:25%; 
    margin-right:35%;
}